@page "/"

<div class="title">
    <img src="./icon-512.png" />
    <span>Flamencode editor</span>
</div>


<div>
    <h5>Code</h5>
    <div class="text-container code-editor-container">
        <StandaloneCodeEditor @ref=CodeEditor Id="code-editor" ConstructionOptions="EditorConstructionOptions" />
    </div>
    
</div>

<div class="buttons">
    <div>
        <label for="filePicker" style="cursor: pointer;">
            <button style="pointer-events: none;">Load</button>
        </label>
        <InputFile id="filePicker" OnChange="@LoadFileAsync" accept="@FILE_EXTENSION" hidden />
        <button @onclick="SaveFileAsync">Save</button>
    </div>
    <button @onclick="ExecutePauseAsync">@ExecutePauseButtonText</button>
</div>

<div class="input-output">
    <div>
        <h5>Input</h5>
        <InputText @bind-Value=Input class="input" />
    </div>
    <div>
        <div class="output-header">
            <h5>Output</h5>
            <div>
                <div class="spinner @ExecuteSpinClass"/>
                <div class="@ExecuteTimeClass">Time: @Time</div>
            </div>        
        </div>
        <div class="text-container output">
            <div class="error">@Error</div>
            <div>@Result</div>
        </div>
    </div>
</div>



